#products-grid {
  margin: var(--space-8) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-4);
}

.product-item {
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-color: var(--color-gray-600);
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.product-item-content {
  padding: var(--space-4);
}

.product-item-content h2 {
  font-size: 1.15rem;
  margin: var(--space-2) 0;
}

.product-item-actions {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-4);
  justify-content: center;
}

#product-details header {
  margin-top: var(--space-8);
  padding: var(--space-8);
  background-color: var(--color-gray-600);
  gap: var(--space-8);
}

#product-details img {
  width: 100%;
  height: 6rem;
  object-fit: cover;

  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-gray-100);
}

#product-info {
  text-align: center;
}

#product-description {
  background-color: var(--color-primary-500-bg);
  padding: var(--space-8);
  white-space: pre-wrap;
}

@media (min-width: 48rem) {
  #product-details header {
    display: flex;
  }

  #product-details img {
    width: 20rem;
    height: 15rem;
    transform: rotateZ(-10deg);
    margin: var(--space-8);
  }

  #product-info {
    text-align: left;
  }
}
.hide {
  display: none;
  visibility: hidden;
  height: 0;
}

.pagination\:container {
  display: flex;
  align-items: center;
}

.arrow\:text {
  display: block;
  vertical-align: middle;
  font-size: 13px;
  vertical-align: middle;
}

.pagination\:number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #202020;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
}
@media (hover: hover) {
  .pagination\:number:hover {
    background: #282828;
  }
}
.pagination\:number:active {
  background: #282828;
}

.pagination\:active {
  background: #282828;
  position: relative;
}
.active{
  text-decoration: underline;
}